@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);
@import url(https://fonts.googleapis.com/css?family=Hind:regular,500,700);

@-webkit-keyframes smoothLoading {
    0% {
        background: #181a1b;
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes smoothLoading {
    0% {
        background: #181a1b;
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes animText {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes animText {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes loadAnimation {
    0% {
        opacity: 0
    }

    to {
        visibility: visible;
        opacity: 1
    }
}

@keyframes loadAnimation {
    0% {
        opacity: 0
    }

    to {
        visibility: visible;
        opacity: 1
    }
}

@-webkit-keyframes subtitleAnim {

    0%,
    to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes subtitleAnim {

    0%,
    to {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@-webkit-keyframes arrowAnim {

    0%,
    to {
        bottom: 40px
    }

    50% {
        bottom: 60px
    }
}

@keyframes arrowAnim {

    0%,
    to {
        bottom: 40px
    }

    50% {
        bottom: 60px
    }
}

@-webkit-keyframes line {
    0% {
        width: 0%
    }

    to {
        max-width: 100%
    }
}

@keyframes line {
    0% {
        width: 0%
    }

    to {
        max-width: 100%
    }
}

@-webkit-keyframes submit {

    0%,
    to {
        top: 0;
        opacity: 0
    }

    50% {
        top: -30px;
        opacity: 1;
        -webkit-animation-play-state: paused;
        animation-play-state: paused
    }
}

@keyframes submit {

    0%,
    to {
        top: 0;
        opacity: 0
    }

    50% {
        top: -30px;
        opacity: 1;
        -webkit-animation-play-state: paused;
        animation-play-state: paused
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active,
:focus,
a:active,
a:focus {
    outline: 0
}

aside,
footer,
header,
nav {
    display: block
}

html {
    font-size: 14px
}

body,
html {
    min-height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:hover,
a:visited {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

body {
    font: 400 16px Lato, sans-serif;
    background: #181a1b;
    position: relative
}

body.smoothLoading::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
    -webkit-animation: smoothLoading 3s;
    animation: smoothLoading 3s
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.header {
    width: 100%;
    position: fixed;
    z-index: 5;
    padding: 35px 0;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.header_active {
    background: #fff;
    padding: 25px 0;
    border-bottom: 1px solid #f0f0f0
}

.header__navigation {
    padding-right: 66px
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.header__hamburger {
    display: none
}

.header__logo {
    font-size: 18px;
    font-weight: 700;
    color: #fff
}

.header__logo-link {
    color: #fff
}

.header__logo-link_active {
    color: #000
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__item {
    margin-left: 21px
}

.header__item:first-child {
    margin-left: 0
}

.header__link,
.header__link-select {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.header__link {
    color: rgba(255, 255, 255, .71);
    font-weight: 700
}

.header__link:hover {
    color: #fff
}

.header__link-select {
    color: #fff
}

.header__link-select_active {
    color: #48b14d !important
}

.header__link_active {
    color: #000
}

.header__link_active:hover {
    color: #48b14d
}

.header__switch {
    position: absolute;
    right: 0;
    color: rgba(255, 255, 255, .71);
    cursor: pointer
}

.header__switch-lang {
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.header__switch-lang_active {
    color: #fff;
    font-weight: 700
}

.header__switch-lang:hover {
    color: #fff
}

.header__scroll_active,
.header__scroll_active:hover {
    color: #000
}

.header__scroll_select,
.header__scroll_select:hover {
    color: #48b14d
}

.animText {
    -webkit-animation: animText 1500ms;
    animation: animText 1500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    z-index: 4
}

.bg,
.bg__cover {
    -webkit-transition: all .3 s linear;
    -o-transition: all .3 s linear;
    transition: all .3 s linear;
    width: 100%;
    height: 100%
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999
}

.bg__cover {
    background: url(../assets/img/bg.jpg) 0 0/cover no-repeat;
    background-size: cover
}

.logo {
    position: relative;
    height: 100vh
}

.logo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    visibility: hidden;
    -webkit-animation: loadAnimation 3s;
    animation: loadAnimation 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.logo__author {
    max-width: 170px;
    margin-bottom: 55px
}

.logo__image {
    width: 100%;
    border: 3px solid #fff;
    border-radius: 50%
}

.logo__title {
    font: 500 56px Hind, sans-serif;
    color: #fff;
    margin-bottom: 10px;
    text-align: center
}

.logo__subtitle-wrapper {
    height: 0
}

.logo__subtitle {
    display: none;
    font-size: 24px;
    color: rgba(255, 255, 255, .71)
}

.logo__subtitle_show {
    display: block;
    opacity: 0;
    -webkit-animation: subtitleAnim 2000ms;
    animation: subtitleAnim 2000ms
}

.logo__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    -webkit-animation: arrowAnim 2000ms infinite;
    animation: arrowAnim 2000ms infinite
}

.logo__arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.title {
    font: 700 38px Hind, sans-serif;
    color: #131313
}

.subtitle {
    font-size: 18px;
    color: #131313;
    font-weight: 700
}

.subtitle__about,
.text__about p {
    margin-bottom: 15px;
    text-indent: 2.2em
}

.text {
    color: #181a1b;
    font-size: 16px;
    line-height: 187.5%
}

.text__about {
    margin-bottom: 25px;
    text-align: justify
}

.text__about p {
    text-indent: 2.5em;
    letter-spacing: 1px
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.social__about {
    margin-bottom: 25px
}

.social__item {
    max-width: 35px;
    margin-left: 20px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer
}

.social__item:first-child {
    margin-left: 0
}

.social__item:hover {
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09)
}

.social__icon {
    width: 100%
}

.button {
    font-size: 16px;
    background: #000;
    color: #fff
}

.button__about {
    position: relative;
    border-radius: 5px;
    padding: 13px 30px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.button__about:hover {
    background: #48b14d;
    padding-right: 70px
}

.button__about:hover .button__download {
    visibility: visible;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-property: visibility;
    -o-transition-property: visibility;
    transition-property: visibility;
    -webkit-filter: contrast(1%) brightness(1000%);
    filter: contrast(1%) brightness(1000%)
}

.button__download {
    transition: -webkit-filter 1000ms linear;
    position: absolute;
    visibility: hidden;
    margin-left: 25px;
    width: 20px
}

.about {
    background: #fff;
    padding: 90px 0
}

.about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.about .title__about {
    margin-bottom: 30px
}

.about__author,
.about__work {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.skills {
    padding: 90px 0;
    background: #f2f2f2
}

.project .title__project,
.skills .title__skills {
    margin-bottom: 50px;
    text-align: center
}

.skills__item,
.skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.skills__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4%
}

.skills__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    margin-bottom: 73px;
    position: relative
}

.skills__item::before {
    background: #181a1b63;
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -20px;
    z-index: 1
}

.skills__item_1::after {
    width: 85%
}

.skills__item_2::after {
    width: 75%
}

.skills__item_3::after {
    width: 40%
}

.skills__item_4::after {
    width: 55%
}

.skills__item_5::after {
    width: 60%
}

.skills__item_6::after {
    width: 80%
}

.skills__item_7::after {
    width: 65%
}

.skills__item_8::after,
.skills__item_9::after {
    width: 80%
}

.skills__item_show::after {
    background: #48b14d;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-box-shadow: inset 0 0 1px #000;
    box-shadow: inset 0 0 1px #000;
    position: absolute;
    height: 5px;
    bottom: -20px;
    z-index: 2;
    -webkit-animation: line 4000ms;
    animation: line 4000ms
}

.skills__language,
.skills__percent {
    font-weight: 700
}

.project {
    background: #fff;
    padding: 90px 0
}

.project__item {
    text-align: center
}

.project__name {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 35px
}

.project__github-link {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px
}

.project__link {
    color: #000;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-weight: 400;
    font-size: 18px
}

.project__link:hover {
    color: #48b14d;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.project__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 35px;
    padding: 0 20px
}

.project__image,
.slick-dots li {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.project__image {
    width: 100%;
    cursor: pointer
}

.project__image:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: drop-shadow(0 0 5px #000);
    filter: drop-shadow(0 0 5px #000)
}

.slick-list {
    overflow: hidden
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.slick-arrow,
.slick-dots li button {
    font-size: 0
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    height: 20px
}

.slick-dots li {
    background: rgba(105, 105, 105, .71);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px
}

.slick-dots li.slick-active {
    background: #48b14d;
    width: 20px;
    height: 20px
}

.education {
    padding: 80px 0 65px;
    background: #f2f2f2
}

.education .title__education {
    margin-bottom: 60px;
    line-height: 150%
}

.education__wrapper {
    -webkit-transform: translate(0, 120px);
    -ms-transform: translate(0, 120px);
    transform: translate(0, 120px);
    opacity: 0;
    -webkit-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear
}

.education__wrapper.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.education__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.education__item {
    padding: 0 15px;
    width: 33.333333%;
    margin-bottom: 30px;
    text-align: justify
}

.education__image {
    width: 34px;
    margin-bottom: 20px
}

.education__icon {
    max-width: 100%
}

.education__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px
}

.education__descr {
    letter-spacing: 1px
}

.education__descr p {
    margin-bottom: 15px
}

.codewars__link {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-weight: 700;
    font-size: 17px;
    color: #000
}

.codewars__link:hover {
    color: #48b14d
}

.list {
    margin: 10px;
    padding-left: 31px
}

.list__header {
    position: relative;
    text-align: left;
    padding-left: 41px
}

.list__header::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 4px;
    left: 0
}

.list__header_one::before {
    background: url(../assets/img/icons/education/list/list1.png) 0 0/cover no-repeat
}

.list__header_two::before {
    background: url(../assets/img/icons/education/list/list2.png) 0 0/cover no-repeat
}

.list__header_three::before {
    background: url(../assets/img/icons/education/list/list3.png) 0 0/cover no-repeat
}

.some {
    position: relative;
    height: 600px
}

.contact {
    background: #f2f2f2;
    padding: 90px 0
}

.contact .title__contact {
    text-align: center;
    margin-bottom: 45px
}

.contact__wrapper {
    max-width: 750px;
    margin: 0 auto
}

.contact__item,
.contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.contact__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.contact__image {
    width: 40px;
    margin-bottom: 20px
}

.contact__icon {
    max-width: 100%
}

.contact__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px 15px
}

.contact__form-mail,
.contact__form-name {
    width: 360px;
    padding: 6px 12px;
    margin: 15px
}

.contact__form-textarea {
    padding: 6px 12px;
    margin-bottom: 30px;
    width: 100%;
    height: 92px;
    resize: none
}

.contact__form-submit {
    text-align: center
}

.contact .button__form {
    padding: 8px 25px;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    margin: 0 auto;
    cursor: pointer;
    position: relative
}

.contact .button__form:hover {
    background: #48b14d
}

.contact .button__form::after {
    content: "Done!";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    transform: translateX(-45%);
    text-align: center;
    opacity: 0;
    color: rgba(0, 0, 0, .4);
    font-size: 20px
}

.contact .button__form.active::after {
    -webkit-animation: submit 2000ms ease-in-out;
    animation: submit 2000ms ease-in-out
}

.footer {
    background: #fff;
    padding: 20px 0
}

.footer .social__footer {
    margin-bottom: 20px
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.counter {
    font: 25px Hind, sans-serif;
    background: 0 0;
    color: #131313;
    width: 35px
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none
}

@supports (-webkit-appearance: none) {
    .bg__cover {
        background: url(../assets/img/bg.webp) 0 0/cover no-repeat
    }

    .list__header_one::before {
        background: url(../assets/img/icons/education/list/list1.webp) 0 0/cover no-repeat
    }

    .list__header_two::before {
        background: url(../assets/img/icons/education/list/list2.webp) 0 0/cover no-repeat
    }

    .list__header_three::before {
        background: url(../assets/img/icons/education/list/list3.webp) 0 0/cover no-repeat
    }
}

@media (max-width: 1024px) {
    .header__link:hover {
        color: rgba(255, 255, 255, .71)
    }

    .header__link_active:hover {
        color: #000
    }

    .title {
        font-size: calc(16px + 1.7948717949vw)
    }
}

@media (max-height: 480px) and (max-width:1024px) {
    .logo__wrapper {
        padding-top: 18px
    }

    .logo__title {
        font-size: 35px
    }

    .logo__author {
        margin-bottom: 30px
    }

    .logo__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        width: 100px;
        right: 0
    }
}

@media (max-width: 940px) {
    .education__item {
        width: 50%
    }
}

@media (max-width: 780px) {
    .title {
        font-size: 30px
    }
}

@media (max-width: 768px) {
    .about__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .about__author,
    .about__work {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

@media (max-width: 767px) {
    .header {
        padding: 20px 0
    }

    .header_active {
        padding: 10px 0
    }

    .header__wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative
    }

    .header__navigation {
        position: absolute;
        width: 100%;
        top: -1000px;
        left: 0;
        opacity: 0;
        padding: 0 15px;
        background-color: #fff;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear
    }

    .header__navigation_active {
        top: 45px;
        opacity: 1
    }

    .header__navigation_active-scroll {
        width: 115%;
        left: -15px;
        border-bottom: 1px solid #f0f0f0
    }

    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .header__hamburger .header__line,
    .header__link {
        display: block;
        width: 100%;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear
    }

    .header__link {
        color: #000
    }

    .header__link-select {
        color: #48b14d
    }

    .header__link-select_active {
        color: #48b14d !important
    }

    .header__link_active {
        color: #000
    }

    .header__item {
        margin-left: 0;
        padding: 15px 0
    }

    .header__switch {
        right: 66px
    }

    .header__hamburger {
        display: block;
        width: 45px;
        height: 45px;
        background-color: transparent
    }

    .header__hamburger .header__line {
        height: 2px;
        background: #f8f8f8;
        margin-bottom: 6px
    }

    .header__hamburger .header__line:last-child {
        margin-bottom: 0
    }

    .header__hamburger.active .header__line:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(1px);
        -ms-transform: rotate(45deg) translate(1px);
        transform: rotate(45deg) translate(1px);
        margin-bottom: 0
    }

    .header__hamburger.active .header__line:nth-child(2) {
        display: none
    }

    .header__hamburger.active .header__line:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(1px);
        -ms-transform: rotate(-45deg) translate(1px);
        transform: rotate(-45deg) translate(1px)
    }

    .logo__title_ru {
        font-size: 40px
    }

    .education .title__education {
        text-align: center
    }

    .education__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .education__item {
        text-align: center;
        width: 100%
    }

    .education__image {
        margin: 0 auto 20px
    }

    .list__book {
        text-align: justify;
        margin-bottom: 10px
    }
}

@media (max-width: 600px) {
    .contact__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .contact__item {
        width: 100%;
        margin-bottom: 30px
    }

    .contact__item:last-child {
        margin-bottom: 0
    }

    .contact__form-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .contact__form-mail,
    .contact__form-name {
        width: 100%
    }
}

@media (max-width: 550px) {
    .some {
        height: 480px
    }
}

@media (max-width: 540px) {
    .logo__wrapper {
        -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
        padding-top: 150px
    }

    .logo__author {
        max-width: 170px
    }

    .logo__title {
        font-size: 44px
    }

    .logo__title_ru {
        font-size: 35px
    }

    .title_ru {
        font-size: 23px
    }

    .slick-dots li {
        width: 9px;
        height: 9px
    }

    .slick-dots li.slick-active {
        width: 13px;
        height: 13px
    }

    .project__name {
        font-size: 20px
    }
}

@media (max-width: 500px) {
    .skills__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .skills__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%
    }
}

@media (max-width: 424px) {
    .logo__title_ru {
        font-size: 30px
    }
}

@media (max-width: 420px) {
    .logo__title {
        font-size: 33px
    }

    .logo__title_ru {
        font-size: 30px
    }

    .logo__subtitle {
        font-size: 22px
    }
}

@media (max-width: 375px) {
    .text__footer {
        font-size: 14px
    }
}

@media (max-width: 374px) {
    .logo__title_ru {
        font-size: 25px
    }
}

@media (max-height: 540px) {
    .logo__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        width: 100px
    }
}