body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

h2 {
    margin-top: 30px;
}

.progress-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.progress-item {
    position: relative;
    display: inline-block;
    text-align: center;
}

svg {
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate-circle 2s linear forwards;
}

@keyframes animate-circle {
    to {
        stroke-dashoffset: 157.5;
        /* Adjusted for 65% progress */
    }
}

.skill-number {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
}